<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<% if flash[:errors] %>
            <% flash[:errors].each do |error| %> 
                <h4 class='errors'><li><%= error %></li></h4>
            <% end %>
        <% end %>
        <div class="container" style="padding-top:50px;">
	    <div class="panel panel-default">
	    <div class="panel-heading"><h3>Edit profile</h3></div>
	    <div class="panel-body">
			<form action="/clients/<%= @client.id %>" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="hidden" name="_method" value="patch">
				<div class="form-group">
					<label for="client_name">Name:</label>
					<input type="text" name="client[name]" value='<%= @client.name %>'class="form-control">
				</div>
				<div class="form-group">
					<label for="client_email">Email:</label>
					<input type="text" name="client[email]" value='<%= @client.email %>'class="form-control">
				</div>
				<div class="form-group">
						<label for="client_name">Address:</label>
						<input type="text" name="client[address]" value='<%= @client.address %>'class="form-control">
				</div>
				<div class="form-group">
					<label for="client_city">City:</label>
					<input type="text" name="client[city]" value='<%= @client.city %>'class="form-control">
					<label for="client_state" class="client_state">State:</label> 
					<%= render 'layouts/states' %>
				</div>
				 <button type="submit" class="btn btn-default">Update</button>
			</form>
		</div>
		</div>
		</div>	
	</div>
</body>
</html>