<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container" style="padding-top:50px;">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>Profile:</h3></div>
    <div class="panel-body">
		<table class="table">
			<tr>
				<th>Name: </th>
				<td><%= @client.name %></a></td>
			</tr>
			<tr>
				<th>Email: </th>
				<td><%= @client.email %></td>
			</tr>
			<tr>
				<th>Address: </th>
				<td><%= @client.address %></td>
			</tr>
			<tr>
				<th>City: </th>
				<td><%= @client.city %></td>
			</tr>
			<tr>
				<th>State: </th>
				<td><%= @client.state %></td>
			</tr>
			<tr>
				<th></th>
				<td><a href='/clients/<%= @client.id %>/edit'>Edit Profile</a></td>
			</tr>
		</table>
	</div>
	</div>
	</div>
</body>
</html>
</body>
</html>