
<!DOCTYPE html>
<html>
<head>
	<title>Contractor Profile</title>
</head>
<body>
<div class="container" style="padding-top:50px;">

<!-- <div class="contractor" style="padding-top:50px;">
 -->

<div class="panel panel-default">
<!-- Default panel contents -->
	<div class="panel-heading">Your Profile (Contractor's)</div>
	<div class="panel-body">
		<p>Accepted Chores</p>
		<table class="table" style="width:400px;">
			<thead>
				<tr>
					<th>Name</th>
					<th>Status/Action</th>
				</tr>
			</thead>
			<tbody>
				<% if @acceptedrequests %>
				<% @acceptedrequests.each do |accept| %>
					<tr>
						<td><a href="/chores/<%= accept.chore.id %>"><%= accept.chore.title %></a></td>
						<td>
						<%= accept.chore.status %>&nbsp;
						<% if accept.chore.status == "In Progress" %>
							<form action="/chores/<%= accept.chore.id %>" method="post" style="display:inline-block;">
								<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
								<input type="hidden" name="_method" value="patch">
								<button type="submit">Completed</button>
							</form>
						<% end %>
						</td>
					</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>  
	</div>
	<div class="panel-body">
		<p>Pending Chores</p>
		<table class="table" style="width:400px;">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<% if @pendingrequests %>
				<% @pendingrequests.each do |pending| %>
					<tr>
						<td><a href="/chores/<%= pending.chore.id %>"><%= pending.chore.title %></a></td>
					</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
</div>
</body>
</html>




