<html>
	<body>
	<!-- 	<div class='result'>
		</div> -->
		<div class='row' id="content">
			<div class='col-md-8 nopadding1' id='map2'>
				<div id="map" style='width: 100%; height: 700px;'></div>
				<div id="floating-panel">
					 <input id="pac-input" class="controls" type="text" placeholder="City, Address, ZIP">
					 <input type='submit' value='Search'>
				</div>
			</div>
			<div class='col-md-4 nopadding2'>
					<div class="panel-heading" id='chores'><h4>Chores</h4></div>
			<table class="table table-hover">
			  <thead>
			  	<td>Name</td>
			  	<td>Description</td>
			  	<td>Location</td>
			  	<td><p>Pay</p></td>
			  </thead>
			  <tbody>
			  	<% @chores.each do |chore| %>
			  		<tr>
			  			<% if chore.status == "Open" %>
						  	<td><a href="/chores/<%= chore.id %>"><%= chore.title %></a></td>
						  	<td><a href="/chores/<%= chore.id %>"><%= chore.description %></a></td>
						  	<td><%= chore.address %> <%= chore.city %></td>
						  	<td><%= number_to_currency(chore.rate) %></td>
					  	<% end %>
				  	</tr>
				  <% end %>
			  </tbody>
			</table>
		</div>
	</body>
	<%= render 'layouts/googlemaps' %>
</html>
		

						

	


				

