
<!DOCTYPE html>
<html>
<head>
	<title>Chores</title>
</head>
<body>
<div class="container" style="padding-top:50px;">
<!-- 	<div class="back" style="text-align:end">
		<a href="/chores">Back</a>
	</div> -->
	<div class="chore_info">
		<div class="panel panel-default">
		<!-- Default panel contents -->
			<div class="panel-heading">Selected Chore</div>
			<div class="panel-body">
				<table class="table" style="width:400px;">
					<tr>
						<th>Name:</th>
						<td><%= @chore.title %></td>
					</tr>					
					<tr>
						<th>Description:</th>
						<td><%= @chore.description %></td>
					</tr>
					<tr>
						<th>Rate:</th>
						<td><%= number_to_currency(@chore.rate) %></td>
					</tr>
				</table>
				<div class="accept_button">
					<% if @already_pending.empty? %>
					<% if @already_accepted.empty? %>
					<% if @chore.client.id != session[:user_id] %>
					<form action='/requests/<%= @chore.id %>' method='post' style="display:inline-block;">
						<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
						<button type='submit'>Accept</button>&nbsp;
					</form>				
					<% end %>
					<% end %>
					<% end %>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
